body {
  background-color: white;
}
code {
  font-family: "Noto Sans Mono"
}

.site-header {
  background-color: #111;
}

.site-header .site-title {
  color: white;
}

.site-header .page-link {
  color: white;
}

/**
 * Tables
 */
table.code_samples  {
  border: 0px solid $grey-color-light;
  margin-bottom: 0px;
  tr {
    &:nth-child(even) {
      background-color: transparent;
    }
  }
  th {
    border: 0px solid darken($grey-color-light, 4%);
  }
  td {
    border: 0px solid $grey-color-light;
  }
}

table {
  tr {
    td:first-child {
      padding-left: 0px;
    }
    td:last-child {
      padding-right: 0px;
    }
  }

  th, td {
    padding: ($spacing-unit / 8) ($spacing-unit / 3);
  }
}

div.highlighter-rouge {
  position: relative;
}

div[file-name] div.highlight pre::before {
  position: absolute;
  right: 12px;
  top: 12px;
}

div.highlighter-rouge[data-rel]::before {
  content: attr(data-rel);
  // absolute position is relative to the closest parent with position attribute set
  position: absolute;
  top: 4px;
  right: 8px;
  border-bottom: 0px solid #FFFFFF3f;
  border-left: 0px solid #FFFFFF3f;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  min-width: 40px;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  color: #eeaa44;
}

div.highlighter-rouge[data-filename] div.highlight {
  padding-top: 12px;
}

div.highlighter-rouge[data-filename] {
  margin-top: 24px;
}

div.highlighter-rouge[data-filename]::before {
  content: attr(data-filename);
  // absolute position is relative to the closest parent with position attribute set
  position: absolute;
  top: -12px;
  left: 12px;
  height: 24px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 5px;
  border: 1px solid #0000003f;
  min-width: 40px;
  font-size: 14px;
  display: flex;
  align-items: center;
  color: #ffffff;
  margin: auto;
  background-color: #414a4e;
}
