body {
  background-color: white;

  
}

.site-header {
  background-color: #111;
}

.site-header .site-title {
  color: white;
}

.site-header .page-link {
  color: white;
}

/**
 * Tables
 */
table.code_samples  {
  border: 0px solid $grey-color-light;
  margin-bottom: 0px;
  tr {
    &:nth-child(even) {
      background-color: transparent;
    }
  }
  th {
    border: 0px solid darken($grey-color-light, 4%);
  }
  td {
    border: 0px solid $grey-color-light;
  }
}
